<a href="https://colab.research.google.com/github/alpha8108/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. 파이썬을 계산기처럼
- 2015년~2016년 이전 : 국비교육 취업(Java 웹개발, 안드로이드 앱개발)
- 미국, 데이터관련 얘기 이미 진행중이었음
- 2015년, 지도교수님, R을 공부 추천 (교수님 말 무시)
- 2016~17년 알파고
- 2017년~2018년 국비교육 R 교육 매우 많음
--> R이 분석용으로 매우 좋음 / 웹개발용으로 넘어가면 단점 부각
- 회사에 가면, 여전히 수요는 웹이 높음
- 파이썬이 왜 뜬 것이냐?
----> 가장 큰 장점 : 범용성
----> 데이터분석, 간단한 프로그램, 앱개발, 보안관련, 게임개발 가능

In [ ]:
1+1 # 정수

2

In [ ]:
5-2 # 정수 연산 결과값은 정수로 반환

3

In [ ]:
5 -2

3

In [ ]:
15*2

30

In [ ]:
10/2 # 정수 / 정수 ===> 반환값은 실수형으로 반환
# 3.0 버전은 실수로 처리
# 2.X 버전은 정수로 처리

5.0

In [ ]:
print(1+2)
print(2.1-1.3)

3
0.8

## 연산규칙
- (1)괄호안 계산
- (2)지수 계산
- (3)곱셈과 나눗셈 계산
- (4) 덧셈과 뺏셈 계산
- (5) 같은 순위 연산이면, 왼쪽에서 오른쪽으로
- (6) 중복된 괄호가 있을 경우, 안쪽에서부터 처리

In [ ]:
print(2 + 3 * 4) #프린트는 습관적으로 넣어주거나 확인하는 습관

14

In [ ]:
3/2*4-5/2

3.5

In [ ]:
(5*4-15) + ((5-2) * (9 -7)) #암산

11

## type()
- 함수 : 특정 기능을 수행하도록 만든 매직박스
 + 특정함수를 조건만 맞춰주면 동작

함수의종류
- 내장(bulit-in)함수 : 파이썬 설치와 함께 제공하는 기본적인 함수
 + print(), type() <---대표적인 함수
 + 종류가 몇개인가요? -> 모름
 + 5주차~8주차 Documentation : 함수를 설명해주는 문서 보는 법 익힐 것 (영어)

-라이브러리에서 제공하는 함수
 + R에서는 패키지
 + 파이썬에서는 라이브러리
 + 목적이 분명.
   - 웹사이트를 개발 : 웹사이트와 관련된 라이브러리를 별도로 설치
   - 통계분석 : 통계분석과 관련된 라이브러리를 별도 설치
   - 시각화 : 시각화와 관련된 라이브러리를 별도 설치
   - 게임개발 : 게임개발과 관련된 라이브러리를 별도 설치
   - 수치연산 주요 라이브러리 : numpy(핵심), scipy

In [ ]:
# 파이썬에서는 정수를 어떻게 표현할까?
# 파이썬에서는 실수를 어떻게 표현할까?
print(type(3))

<class 'int'>

In [ ]:
print(type(3.5))

<class 'float'>

In [ ]:
print(type(~~~)) #에러 상황

SyntaxError: ignored

- 파이썬 객체지향 언어입니다.

## 거듭 제곱과 나머지
- 숫자 A를 N번 곱하는 거듭제곱(Power)
 + A는 밑, n을 지수라고 표현

In [ ]:
2*2*2*2*2 #불편하잖아

32

In [ ]:
2**5 #거듭제곱

32

- 나머지 구하는 방법

In [ ]:
13 % 5 # 나머지

3

In [ ]:
# 몫을 구하고 싶음
13 // 5

2

- 교재 표 3-1 (p34) 산술연산자 표 정리

## 과학적 표기법
- 아주 큰 수, 작은 수를 다뤄야 하는 케이스
 + 빛은 초당 30만km
 + 단위를 m/s 표현하면, 300,000,000m/s
 + 3x10^8 로 표현해줘야하잖아 이게 과학적표기법(압축해서 표현)

In [ ]:
3*10**8

300000000

In [ ]:
3e8 # e는 뭐지 이런형태를 과학적 표기법이라고 함

300000000.0

In [ ]:
3e-4

0.0003

In [ ]:
1e-4

0.0001

## 진수 표현과 변환
- 우리는 일상에서는 10진법 많이 씀
- 60초가 1분이고, 60분이 1시간
--> 엄밀히말하면 60진법
- 오전12시간, 오후12시간 -> 12진법
1년 12달, 12진법에 해당
- 컴퓨터 프로그래밍, 숫자 0과 1로 이루어진 2진법 수행
- 8진법 : 0~7까지의 숫자
- 16진법 : 0~9, a,b,c,d,e,f

In [ ]:
17 # 10진법

17

In [ ]:
0b10001 #2진법 이런게 되나보다 정도로만 생각

17

In [ ]:
0o21 # 8진법

17

In [ ]:
0x11 # 16진법

17

## 논리 연산 및 비교 연산
- 참/거짓
- 논리 연산을 잘 활용하는 것이 프로그래밍의 핵심

In [ ]:
print(True)

True

In [ ]:
print(False)

False

In [ ]:
print(type(True))

<class 'bool'>

### 논리 연산자
- and : A and B : A와 B 모두 참일 때 참
- or : A or B : A와 B중 하나라도 참이면 참 , 둘 다 거짓일 때 거짓
- not : not A : A가 참일 때 거짓, A가 거짓이면 참

In [ ]:
# 교집합
# True 또는 False 결과가 나오도록 조건식을 만들어야함
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# 합집합
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
not False

True

### 비교연산자

In [ ]:
1 == 2
# True 또는 False 결과가 나오도록 "의도적"으로 조건식을 만들어야함

False

In [ ]:
1 != 2 # a와 b는 같지 않다. "!="

True

In [ ]:
1 <=2 # a는 b보다 작거나 같다.

True

In [ ]:
1 < 2 # a가 b보다 작다

True

In [ ]:
1 >= 2 # a가 b보다 크거나 같다

False

In [ ]:
1 > 2 # a가 b보다 크다

False

In [ ]:
# 우리가 어떤식으로 만들건지는 하기 나름 실제 프로그래밍 할 떄는 부등호 연산자 논리연산자 이 도구를 통해
어떤식으로 true와 false를 어떻게 해야 고민해

###비교연산자+논리연산자

In [ ]:
1 > 0 and -2 < 0 # 비교연산자(1순위) 논리연산자(2순위)

True

In [ ]:
# 괄호안이 먼저 연산
((3 < 0) and (-5 > 0)) and (1 > 5)

False

# Chapter 4. 변수와 자료형

# 변수(p.42)

In [ ]:
#단순 계산기 처럼 쓸 수 있지만 실제론 변수를 사용한다.

변수명 = data
코딩은 오른쪽에 있는 값을 변수에 할당

In [ ]:
# 변수 : Variable, 데이터
a = 1000
b = 1110
print(a)

1000

In [ ]:
print(a) #변수를 수정했으면 항상 실행해서 새로고침해라
print(b)

1000
1110

### 변수명 짓기 규칙
- snake, camel
프로젝트할 때 정해놓고 시작하면 좋다.

In [ ]:
# snake
 num_a = 100
 num_b = 110

 # camel
 myStudent = "evan"
 mySchool = "학교이름"

# 주의해야할 것
#3star = "이장군" #앞에 숫자가 오면 안됨

IndentationError: ignored

In [ ]:
print(num_a) #내장함수명을 변수명으로 만들면 안됨
# print = 100

NameError: ignored

In [ ]:
num = 1    #변수명은 대소문자를 구분한다
Num = 100

In [ ]:
print(num)
print(Num)

1
100

In [ ]:
my student = "evan" #변수명 작성시, 공백(띄어쓰기) 있으면 안됨

### 예약어는 변수명으로 이용할 수 없음
- print, None, True, etc (교재오면 뭐있나 보삼 p45)
-

### 변수의 반대어 : 상수
- 한번 지정 후, 변하지 않는 고정 값

In [ ]:
# 상수 예시
pi = 3.14

In [ ]:
# 실제 변수를 만들어보기
num1 = input("숫자를 입력해주세요!!") # 얘는 input은 숫자를 입력해도 기본값은 문자열로 반환함
num2 = input("숫자를 입력해주세요!!")

print(num1, num2)

숫자를 입력해주세요!!100
숫자를 입력해주세요!!200
100 200

In [ ]:
print(num1 + num2)

100200

In [ ]:
print(type(num1)) #< class 'str'> 문자열
print(type(num2)) #< class 'str'> 문자열

<class 'str'>

In [ ]:
# 하고 싶은 것 : 사칙연산
# 해결방안 : 문자열 100을 숫자 100으로 변경 하면 될 것 같음
# 코드를 찾기 (구글링)

num_a = int(num1)
num_b = int(num2)
print(num_a + num_b)

# string_num = "42"
# int_num = int(string_num)
# print(int_num)  # output: 42

300

In [ ]:
# 프로그래밍에서 문자열로 표현하고 싶다!
 "a" or '1'

## 문자열
- "" 또는 '' 쓴다.

In [17]:
# 작은 따옴표가 좀더 좋다 굳이 이야기하면. 프로젝트를 해보면 안다.

greeting = 'Hello String'
print(greeting)

Hello String

In [18]:
string3 = 'This is a "double" quotation test'
print(string3)

This is a "double" quotation test

In [20]:
#삼중 따옴표
long_string1 = '''
문장이 긴 텍스트
여러줄 쓸 수 있음
이렇게 ㅋ
하핫
'''
#큰따옴표 3개도 가능하다.
print(long_string1)

문장이 긴 텍스트
여러줄 쓸 수 있음
이렇게 ㅋ
하핫

In [21]:
a = 'Enjoy'
b = 'Python!'
print(a + b)

EnjoyPython!

In [22]:
print(a*3)

EnjoyEnjoyEnjoy

## 리스트 (List) (p.49)
- 가장 중요한 자료형
- 다른 프로그래밍 언어 배열(Array)
- 예시
 + 1반의 과목별 수학 점수
- 다중의 데이터를 묶는다

In [24]:
# 1번 학생의 국어, 영어, 수학, 과학
student1 = [90, 95, 85, 80]
student1

[90, 95, 85, 80]

In [25]:
print(type(student1))

<class 'list'>

### 인덱싱(Indexsing)
- 리스트에서 특정 데이터를 추출

In [26]:
student1

[90, 95, 85, 80]

In [29]:
print(student1[0]) # 숫자 0은 리스트의 첫번째 항목 의미
print(student1[1])
print(student1[2])
print(student1[3])

90
95
85
80

In [33]:
greeting = 'Hello, Python'
print(greeting[7]) #파이썬에서 인덱싱 원리는 거의 똑같다.

P

### 리스트의 값 업데이트/수정/삭제

In [35]:
student1[0] = 100 # 새로운 데이터 할당, 0번째 인덱스
student1

[100, 95, 85, 80]

In [38]:
# 문자열 덧셈 연산자 + 곱셈 연산자
# 리스트에 적용

myFriends = ['고광록', '차대근', '허범도', '나지민']
newFriends = ['Kim']

myFriends2 = myFriends + newFriends
print(myFriends2)

['고광록', '차대근', '허범도', '나지민', 'Kim']

In [39]:
myNumbers = [1]
myNumbers * 3

[1, 1, 1]

In [42]:
#허범도, 허 추출
# result = myFriends2[2]
# result[0]  이건 코드가 비효율적 그래서 합친다
myFriends2[2][0]

'허'

In [47]:
mixed = [0, 2, 3.14, 'python', True, myFriends2]
mixed [5][4][0] # 또는 mixed[-1][-1][0]  -1은 뒤에서 셈
# 참고로 True에서 T를 뽑을 수 없다 문자열이 아니기 때문 마찬가지로 3.14도 인덱싱이 안된다.

'K'

### 슬라이싱
- 문자열, 리스트 그 외 파이썬 거의 대부분 자료형 원리 동일 적용

In [57]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)
print(list_data[0:3]) # 시작인덱스: 끝인덱스-1 가져오는범위가 이렇게가져와짐 시작인덱스는0부터 끝인덱스는1부터세면 편할지도?
#5까지 추출하려면?
print(list_data[0:6])
print(list_data[:6]) # 5번줄이랑 똑같음 방식은 자유 특징을 기억하라는 것
print(list_data[4:]) # list_data[4:10] 중간부터 끝까지 가져오고 싶으면 시작인덱스만 쓰고 비워
print(list_data[:]) # 모든 데이터 조회 / 2번줄보다는 좀더 프로그래밍틱하죠?
print(list_data[::2]) # 짝수만 나온는데 (0퐁당1퐁당2) 퐁당이 두개씩이라는 거

#슬라이싱은 간단하게 데이터를 절단한다는 느낌 반으로 뙇 이런거?

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [59]:
print(list_data[:])
print(list_data[::2])
print(list_data[::3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[0, 3, 6, 9]

In [52]:
greeting = 'Hello, Python'
# Hello만 추출
print(greeting[0:5])

Hello

## 튜플(Tuple)
- 기초 문법이 중요함(면접 때도 종종 질문 받을 수 있다)
- 취업 할 때의 모토 : 취직과 함께 퇴사를 준비하자! ㅋ
 + 경력직으로 대기업을 가보자!
- 면접 첫 질문 : 파이썬에 List와 Tuple 이거 차이점이 뭔가요? (분석가는 tuple을 다룰 일이 거의 없음)
대답을 못했다고 함
 + 면접 말림!

 -튜플은 리스트와 유사하다

In [62]:
tuple1 = (1, 2, 3, 4)
print(tuple1)
print(type(tuple1))

(1, 2, 3, 4)
<class 'tuple'>

### 유사한 것
-인덱싱과 슬라이싱이 동일, 문자열과 동일

In [69]:
tuple_data = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
tuple_data[3]

(0, 2, 4, 6, 8)

### 차이점 (튜플 vs 리스트)
-리스트는 수정, 삭제가 잘 됨

-튜플은 수정, 삭제가 안 됨

In [73]:
l_data =[0, 1, 2, 3] #숫자 3 대신, 30으로 바꿔봄
t_data =(0, 1, 2, 3) #숫자 3 대신, 30으로 바꿔보니 에러

# l_data[3] = 30 얘는 됨
# t_data[3] = 30 #item assignment  아이템 할당이 안된다는 뜻

# del l_data[3] 얘는 됨
# l_data

# del t_data[3] #item deletion 삭제가 안된다는 뜻 (아이템은 괄호안에 숫자)
# t_data

TypeError: ignored